body {
    background-color: lightyellow;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
    font-size: 50px ;
}

p {
    color: green;
    font-size: 15px;
}

img {
    width: 300px;
}